body {
    background-size: 50%;
    background-color: teal;
}

h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 2px black;
    background-size: 100%;
    background-position: center;
    background-image: url("wave.jpg");
    color: #ffffff;
    text-align: center;
 border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 150px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;

    padding: 50px 25px 50px 25px;
}
  
p.uno {
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     letter-spacing: 10px;
     text-shadow: 2px 2px black;
     font-style: italic;
    text-align: center;
    color: #ffffff;
    background-color: turquoise;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 50px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;

    padding: 50px 25px 50px 25px;

}
  
p.dos {
     font-size: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     letter-spacing: 10px;
     text-shadow: 2px 2px black;
    text-align: center;
    color: #ffffff;
    background-color: turquoise;
   border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 50px;

    margin-top: 100px;
    margin-bottom: 100px;
